body {
    background: black;
}

.row {
    display: flex;
  }
  
.column {
    flex: 33.33%;
    padding: 5px;
}

nav {
    background-color: green;
    width: 100%;
}

nav div a {
    color: black;
}

h1 {
    background-color: green;
    text-align: center;
    font-family: Georgia;
}

.facts {
    text-align: center;
    color: rgb(23, 100, 94);
    font-size: 40px;
}

h3 {
    text-align: center;
    color: burlywood;
    font-size: 1.5em;
}

h4 {
    text-align: center;
    color: burlywood;
    font-size: 1.5em;
}

.email {
    text-align: center;
    margin-top: 100px;
}

.facebook {
    text-align: center;
}

.instagram {
    text-align: center;
}

.pictures {
    display: flex;
    flex: 25%;
    border: 10px;
    padding: 100px;
    width: 20%;
    height: 20%;
}

#social-media {
    color: yellow;
    text-align: center;
    font-size: 30px;
    font-family: Georgia;
}

#text {
    color: rgba(44, 78, 139, 0.829);
    text-align: left;
    font-size: 20px;
    margin-left: 180px;
    margin-top: 100px;
}
