body {
    background: black;
}

.row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }

h1 {
    background-color: green;
    text-align: center;
    font-family: Georgia;
}

h2 {
    text-align: center;
    color: green;
    font-size: 1.5em;
}

h3 {
    text-align: left;
    color: burlywood;
    font-size: 1.5em;
}

h4 {
    text-align: left;
    color: burlywood;
    font-size: 1.5em;
}

h2 div ul {
    color: red;
    text-align: left;
    font-size: 1em;
}