body {
    background: black;
}

.row {
    display: flex;
  }
  
.column {
    flex: 33.33%;
    padding: 5px;
}

nav {
    background-color: green;
    width: 100%;
}

nav div a {
    color: black;
}

h1 {
    background-color: green;
    text-align: center;
    font-family: Georgia;
}

h2 {
    text-align: center;
    color: green;
    font-size: 1.5em;
}

h3 {
    text-align: center;
    color: burlywood;
    font-size: 1.5em;
}

h4 {
    text-align: center;
    color: burlywood;
    font-size: 1.5em;
}

h2 div ul {
    color: red;
    text-align: left;
    font-size: 1em;
}

.email {
    text-align: center;
    margin-top: 100px;
}

.facebook {
    text-align: center;
}

.instagram {
    text-align: center;
}

.pictures {
    display: flex;
    flex: 25%;
    border: 10px;
    padding: 100px;
    width: 20%;
    height: 20%;
}